#cuerpo form {
	padding-left: 30px;
	line-height: 40px;
	font-weight: 600;
	font-style: italic;
}

#texto {
	padding-left: 30px;
}

form label{
	font-size: 16px;
	display: block;
	height: 22px;
	padding: 8px 0px;/**/
}


input[type=text] {
	display: block;/**/
	background-color: #FEFDF9;
	border-radius: 10px;
	font-size: 16px;	
	width: 300px;
}

input[type=text].oculto {
	display: none;/**/
}

input[type=text].en_linea {
	display: inline-block;/**/
}

select {
	background-color: #FEFDF9;
	border-radius: 10px;
	display: block;/**/
	font-size: 16px;/**/
}
/*
input[type=submit] {
	background-color: #E2CC23;
	border-radius: 8px;
	font-weight: 600;
	padding: 5px 8px;
}
*/ 
input[type=submit] {
	background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


input[type=submit ; disabled] {
	background-color: grey;
	color: white;
	cursor: default;
}

option {
	font-size: 16px;/**/
}

form textarea {
	display: block;/**/
	max-width: 80%;
	max-height: 100px;
	margin-bottom: 15px;/**/
}

.btnbuscar{
	background-color: #E2CC23;
	border-radius: 8px;
	font-weight: 600;
	padding: 5px 8px;
}

.br {
	display: block;
}

/*A continuación se configura apariencia de la sección de ALTA MASIVA*/

#cuerpo div[class=comodatarios] {
	margin-top: 10px;
	display: inline-flex;
	flex-wrap: wrap;
}
#cuerpo div[class=nets] {
	margin-top: 10px;
	display: inline-flex;
	flex-wrap: wrap;
}
#cuerpo div[class=completa] {
	margin-top: 10px;
	display: inline-flex;
	flex-wrap: wrap;
}


#cuerpo div h2 {
	padding: 5px;
}

#cuerpo div h4{
	padding-left: 5px;
}

#cuerpo div p{
	padding-left: 5px;
}

#cuerpo div .col1 {
	flex-basis: 60%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgba(235,237,239,0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#cuerpo div .col2 {
	flex-basis: 25%;
	background-color: rgba(235,237,239,0.7);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}



/* -------------------------------------------- */
/* ----------- PAGINACION: Digg Style --------- */
/* -------------------------------------------- */

div.paginacion {
	
	
}

ul {
	border:0;
	margin:0;
	padding:0; 
	height: 20px;/**/
}

#pagination-digg li {
	border:0;
	margin:0;
	padding:0; 
	font-size:14px; 
	list-style:none; /* savers */ 
	float:left; 
}

#pagination-digg a { 
	border:solid 1px #9aafe5; 
	margin-right:2px;
	background-color: rgba(235,237,239,0.7);;/**/
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#pagination-digg .previous-off, #pagination-digg .next-off { 
	border:solid 1px #DEDEDE;
	color:#888888; 
	display:block; 
	float:left; 
	font-weight:bold; 
	margin-right:2px; 
	padding:3px 4px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#pagination-digg .next a, #pagination-digg .previous a { 
	font-weight:bold; 
}

#pagination-digg .active {
	background:#2e6ab1; 
	color:#FFFFFF; 
	font-weight:bold; 
	display:block; 
	float:left; 
	padding:4px 6px; /* savers */ 
	margin-right:2px; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#pagination-digg a:link, #pagination-digg a:visited { 
	color:#0e509e; 
	display:block; 
	float:left; 
	padding:3px 6px; 
	text-decoration:none; 
}

#pagination-digg a:hover { 
	border:solid 1px #C14313; 
}

div.paginacion {
	display: flex;
	justify-content: center;
	padding: 10px 0px 10px 0px;
}

/*////////// MENSAJES DE INSERTS EN LA BBDD EN ALTA MASIVA\\\\\\\\\\\\*/

div.insert_ok {
	margin-top: 5px;	
	padding: 5px;
	width: 80%;
	background: #7EEDB0;
	border: solid #39C839 0.5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

div.insert_wrong {
	margin-top: 5px;
	padding: 5px;
	width: 80%;	
	background: #EC98A0;
	border: solid #EB4545 0.5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div.flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

div #block-filtro {
	display: inline-block;
}