body {
	background-color: #A2D0B6;
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	background-color: black;
	background-image: url("../img/vaca.jpg");
	background-repeat: no-repeat;
	background-size: 10%;
	background-attachment: fixed;
	background-position: right bottom;
	opacity: 0.98;
}

#contenedor {
	width: 960px;
	margin:auto auto;
}

#cuerpo {
	background-image: url("../img/huayra.jpg");
    background-position: 75% 10%;
	width: 860px;
	min-height: 550px;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;/*para que las tablas no coincidan con el borde inferior del cuerpo*/
	border-radius: 20px;
}

#cuerpo h2 {
	margin: 0px;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 40px;
	text-decoration: underline;
}

#cuerpo ul li {
	list-style: none;
	font-weight: bold;
}

#cuerpo ul a:visited {
	text-decoration: none;
	color: #025599;
}

#cuerpo ul a:link {
	text-decoration: none;
	color: #025599;
}

#cuerpo ul a:hover {
	text-decoration: none;
	color: #556E6C;
}

.acta {
	line-height: 25px;
}

#mensaje_oculto{
	display: none;
	margin: 0px;
	font-size: 20px;
	padding-left: 30px;
	padding-top: 40px;
}
/*el siguiente hace que se oculte el mensaje de adeuda batria, cargador y antena en devolucion.php*/
#oculto {
display: none;
}

footer {
	background-color: white;
	width: 860px;
	margin-top: 5px;
	border-radius: 20px;
}

#pie {
	background-image: url("../img/LogoPie.jpg");
	background-repeat: no-repeat;
	background-position: 95% 90%;
	width: 860px;
	height: 100px;
	border-radius: 20px;

}

footer #pie #logout {
	padding-left: 20px;
	text-decoration: none;
	font-weight: bold;
	background-color: #A3C657;
	padding: 0px 10px;
	position: relative;
	top: 20px;
	margin-left: 20px;
	border-radius: 8px;
}

#pie a:visited {
	text-decoration: none;
	color: #025599;
}

#pie a:link {
	text-decoration: none;
	color: #025599;
}

#pie a:hover {
	text-decoration: none;
	color: #556E6C;
}


@media handheld, screen and (min-width: 600px) and (max-width:1023px){

body section#contenedor  header {
	width: 580px;
}

header {
	width: 580px;
	height: auto;
}

header #head #titulo {
	max-width: 580px;
}

header div#head {
	width: 580px;
	background-position: 55% 1300%;
}

header div .info-login{
	width: 380px;
}

header div #head div #nav {/**/
	width: 580px;
}

/*Contenedor de toda la página*/
#contenedor {
	width: 580px;
}
#cuerpo {
	width: 580px;
	height: auto;
	background-position: 80% 10%;
	margin-top: 5px;
	margin-bottom: 0px;
	display: block;
}

footer {
	width: 580px;
	height: 100px;
}

footer #pie{
	background-position: 40% 90%;
}
}

/*Boton Buscar Egresado Formulario Listado Egresados*/

#btnfiltrar{
	margin-top: 10px;
}

/* Clases Botones */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Grey */
.button5 {background-color: #555555;} /* Black */

.button[disabled] {
	background-color: grey;
	color: white;
	cursor: default;
}



/* Fin de clase Botones */

/* Tablas */
table {
	    font-family: arial, sans-serif;
	    width: 90%;
	    margin:auto;
	    margin-top: 10px;
	  	/*text-align: center; */
}

table tbody tr th {
		text-align: center;/**/
}

th {
	background-color: #C14313;
	color: white;
}

td {
	background-color: rgba(235,237,239,0.7);
}

td, th {
	   /* border: 1px solid #387273;*/
	    border-radius: 3px;
	    text-align: left;
	    padding: 5px;
}

tr:hover {
	background-color: #EBEDEF;
}
